GEMINI_API_KEY=
SUPABASE_URL=https://olcrjskymmwzmwvxjkyz.supabase.co
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
APP_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_API_KEY=
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
